@import "colors";
.countryOne {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;

  padding-top: 50px;
  min-height: 100vh;
  background-color: $lightblack;
}

.flag {
  max-width: 400px;
  height: auto;

  width: 100%;

  padding: 10px;
  border: none;
}
