@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: $white;
}
.icon {
  color: #dadada;
  width: 35px;
  font-size: 30px;
  margin: 10px 15px;
  cursor: pointer;
}
::placeholder {
  color: $white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: $lightblack;
}
::-webkit-scrollbar-thumb {
  background-color: $black;
}
.desc {
  margin: 15px;
  max-width: 500px;
  .gerb {
    img {
      width: 200px;
    }
  }
  p {
    font-size: 25px;
    line-height: 50px;
    font-family: 100;
    a {
      text-decoration: none;
      color: red;
    }
    span {
      font-weight: bold;
    }
  }
}
