@import "colors";
.header {
  background-color: $black;
  width: 100%;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.inputContainer {
  max-width: 300px;
  width: 100%;
  margin: 15px 10px;
}

.input {
  padding: 10px 20px;
  outline: none;
  max-width: 700px;
  width: 100%;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 30px;
  color: $white;
  text-transform: capitalize;
}
@media (max-width: 800px) {
  .header {
    justify-content: center;
  }
  .parag {
    font-size: 20px;
  }
}
